* {
    box-sizing: border-box;
    font-family: "Viner Hand ITC", monospace;
}

body {
    margin: 0px;
}

#sidebody {
    width: 100%;
    margin: 0 auto;
    font-size: 13px;
}

#logo {
    position: fix;
    
}

.main_section {
    background-size: auto 100%;
    width: 25%;
    height: 700px;
    text-align: center;
    line-height: 40px;
    float: left;
}

.titleNumber {
    position: relative;
    top: 30%;
    color: rgba(211, 0, 0, 0.65);
    font-size: 50px;
    font-weight: 900;
}

.titleSort {
    position: relative;
    top: 30%;
    color: rgba(0, 0, 0, 0.56);
    font-size: 50px;
    font-weight: 900;

}

.titleDetail {
    position: relative;
    top: 30%;
    height: 100px;
    color: rgb(0, 109, 237);
    font-size: 20px;
    font-weight: 540;
}

.titleButton {
    position: relative;
    top: 200px;
    background-color: rgba(255, 255, 255, 0.34);
    border-radius: 10px;
}

#nth_1 {
    background-image: url("web_image/woman_6.jpg");
    background-position: 50%;
}

#nth_2 {
    //background-image: url("web_image/man_2.jpg");
    background-position: 75%;
}

#nth_3 {
    //background-image: url("web_image/woman_4.jpg");
    background-position: 50%;
}

#nth_4 {
    //background-image: url("web_image/man_7.jpg");
    background-position: 20%;
}

#footer {
    clear: both;
    background-color: #D3FFF3;
    height: 80px;
    text-align: center;
    font-size: 20px;
    line-height: 80px;
}
