* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
li {
  display: block;
  max-width: 50px;
  margin: 0 auto;
}
nav.menu ul{
  display: inline;
  border: 1px;
  margin-right: 25px;
}
#azoo_selfie{
  float: left;
  width: 50%;
}
#top {
  background-color: rgba(255, 99, 71, 0.6);
  overflow: auto;
  zoom: 1;
  max-width: 500px;
  border: 2px solid red;
}
#namecard{
  background-image: url("https://i.imgur.com/Kwd4RxX.jpgy");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  }

#top>h1 {
  color: black;
  font-family: verdana;
  font-size: 100%;
  text-align: center;
}
#top>span {
  margin: 0 auto;
}

